@import "../../styles/mixins"
@import "../../styles/media"

.img
    overflow: hidden
    height: calc( 100vh - 142px)
    position: relative
    @media (max-width: $screen-sm)
        height: calc( 100vh - 127px)

    &__filter
        background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0))
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

    img
        object-fit: cover
        width: 100%
        height: 100%

    h2
        color: #fff
        font-weight: 900
        font-size: 30px
        display: flex
        align-items: flex-end
        position: absolute
        text-align: center
        max-width: 800px
        top: 40%
        padding: 0 40px
        margin: 0
        letter-spacing: 4px
        @media (max-width: $screen-sm)
            font-size: 20px

.footer
    @include container
    @include displayGrid
    padding-top: 20px
    padding-bottom: 20px
    @media (max-width: $screen-sm)
        padding-top: 20px
        padding-bottom: 20px

    h3
        margin: 0
        font-weight: 900
        @media (max-width: $screen-sm)
            font-size: 15px

    a
        display: flex
        gap: 5px
        text-decoration: none
        font-weight: 700
        @media (max-width: $screen-sm)
            font-size: 14px
