@import "../../styles/media"
@import "../../styles/mixins"

.navbar
    @include container
    @include displayGrid
    overflow: hidden
    padding-top: 20px
    padding-bottom: 20px
    @media (max-width: $screen-sm)
        padding-top: 20px
        padding-bottom: 20px

    &__logo
        @include displayCenter
        gap: 10px
        cursor: pointer

        img
            width: 40px
            height: 40px
            @media (max-width: $screen-sm)
                width: 30px
                height: 30px

        h2
            margin: 0
            font-weight: 900
            @media (max-width: $screen-sm)
                font-size: 15px

    &__auth
        @include displayCenter
        gap: 10px
        @media (max-width: $screen-sm)
            display: none

.login
    @include buttonAnimate

.register
    @include buttonAnimate

.drawer
    display: none
    @media (max-width: $screen-sm)
        display: block

.btn
    @include buttonAnimate
    button
        width: 100%
        margin-bottom: 10px
