@import "../../../styles/mixins"

.menu
    @include container
    margin-top: 50px

    form
        display: flex
        align-items: center
        justify-content: space-between

    &__info
        width: 17%
